div, body{
    border: 1px solid rgb(108, 108, 108);
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    box-shadow: 0 0 10px 1px rgb(225, 225, 225);
}
div{
    width: max-content;
    padding: 8px 90px 8px 12px;
    position: relative;
    bottom: 15px;
    background-color: white;
    background-color: rgb(248, 248, 248);
    border-radius: 2px;
    margin-left: -1px;
}
body{
    width:fit-content;
    border-radius: 2px;
    margin: 0 auto;
    margin-top: 7%;
}
p{
    font-weight: bold;
    margin: 4px 25px 18px 12px;
}
input{
    width: 235px;
    padding: 5px 5px 5px 25px;
    border: 1px solid lightgrey;
    border-radius: 3px;
}
form{
    background-color: rgb(248, 248, 248);
}
button{
    color: white;
    font-size: smaller;
    font-weight: bold;
    background-color: rgb(49, 46, 46);
    border: 0px;
    border-radius: 2px;
    padding: 6px 14px 6px 14px;
    margin: 0px 25px 25px 25px;
}
.fa-user, .fa-key{
    font-size: 12px;
    position: relative;
    left: 90px;
    padding-top: 8px;
}
input.pas{
    margin-left: 1px;
}
@media screen and (min-width: 701px) and (max-width: 1200px){
    input{
        width: 250px;
        padding: 7px 7px 7px 25px;
    }
    div{
        width: 45px;
    }
    .fa-user, .fa-key{
        font-size: 13px;
        left: 95px;
    }
    body, div{
        font-size: 14px;
    }
    p{
        margin: 5px 25px 20px 12px;
    }
}
@media screen and (min-width: 601px) and (max-width: 700px) {
    body, div{
        font-size: 12px;
    }
    p{
        display: flex;
        flex-direction: column;
    }
    .fa-user, .fa-key{
        font-size: 13px;
        left: 95px;
    }
    input{
        width: 230px;
    }
    body{
        width: 300px;
        margin-top: 60px;
    }
    p{
        margin: 0 0 15px 22px;
    }
    button{
        margin: 0 0 20px 24px;
        padding: 5px 12px 5px 12px;
    }
    .fa-user, .fa-key{
        width: fit-content;
        font-size: 12px;
        left: 10px;
        top: 33px;
    }
    div{
        padding: 5px 70px 5px 10px;
    }
}
@media screen and (max-width: 600px) {
    body, div{
        border-width: 1.5px;
    }
    p{
        padding-top: 0;
        display: flex;
        flex-direction: column;
        margin-left: 25px;
    }
    .fa-user, .fa-key{
        width: fit-content;
        font-size: 13px;
        left: 10px;
        top: 42px;
    }
    label{
        margin-bottom: 2px;
    }
    body{
        width: 400px;
    }
    div{
        margin-left: -1.5px;
    }
    input{
        width: 315px;
        padding: 10px 10px 10px 25px;
        font-size: 15px;
    }
    button{
        padding: 8px 16px 8px 16px;
    }
}